html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: antiquewhite;
    overflow: hidden;
    text-align: center;
}

#canvas {
    background-color: blanchedalmond;
}